/*
AFFINITIC JUIN 2015
GDW SOLIDARITE

barre de navigation
*/




.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

@media screen and (min-width: 40em) {
        .js .nav-collapse {
        position: relative;
        }
        .js .nav-collapse.closed {
        max-height: none;
        }
        .nav-toggle {
        display: none;
        }
}




/**** MASK ****/

.mask {
-webkit-transition: opacity 300ms;
-moz-transition: opacity 300ms;
transition: opacity 300ms;
background: rgba(0,0,0, 0.5);
visibility: hidden;
position: fixed;
opacity: 0;
z-index: 2;
bottom: 0;
right: 0;
left: 0;
top: 0;
}

.android .mask {
-webkit-transition: none;
transition: none;
}

.js-nav-active .mask {
visibility: visible;
opacity: 1;
}

@media screen and (min-width: 40em) {
        .mask {
        display: none !important;
        opacity: 0 !important;
        }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
        .nav-collapse {
        float: right;
        width: auto;
        }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
        .nav-collapse li {
        width: auto;
        }
}

.nav-collapse a {
-webkit-tap-highlight-color: rgba(0,0,0,0);
text-decoration: none;
background: #3b3b3b;
padding: 0.7em 1em;
color: #ecf0f1;
width: 100%;
float: left;
font-size:6vw;
}

.nav-collapse a:active,
.nav-collapse .active a {
  color: #c0392b;
}

@media screen and (min-width: 40em) {
        .nav-collapse a {
        padding: 1.02em 2em;
        text-align: center;
        border-top: 0;
        float: left;
        margin: 0;
        }
}

.nav-collapse ul ul a {
background: #ca3716;
padding-left: 2em;
}

@media screen and (min-width: 40em) {
        .nav-collapse ul ul a {
        display: none;
        }
}


/**** Basculement barre de navigation - Hamburger Icone ****/

.nav-toggle {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-decoration: none;
text-indent: -300px;
position: relative;
overflow: hidden;
width: 60px;
height: 55px;
float: right;
}

.nav-toggle:before {
color: #ecf0f1;     /* changer couleur icone */
font: normal 28px/55px "responsivenav";     /* changer taille icone */
text-transform: none;
text-align: center;
position: absolute;
content: "\2261";       /* Hamburger icone pour le menu */
text-indent: 0;
speak: none;
width: 100%;
left: 0;
top: 0;
}

.nav-toggle.active:before {
font-size: 24px;
content: "\78";     /* icone fermeture la croix */
}