/*
AFFINITIC JUIN 2015
GDW SOLIDARITE

portal plone css
*/


#portal-column-content{
margin:auto;
margin-top:240px;
}

#content {
width:75%;
clear: both;
font-size: 80%;
line-height: 1.5em;
margin:auto;
}

div.cell {
clear:both;
left:0px;
position:relative;
}