
/*
AFFINITIC JUIN 2015
GDW SOLIDARITE

responsive css
*/

/*** DESKTOP ***/
@media screen and (min-width: 1024px){
        body{
        font-size: 16px;
        line-height: 24px;
        }

        #logo {
        float: left;
        position:absolute;
        top:10px;
        left:10px;
        width:160px;
        height:160px;
        border-radius:6px;
        background:url(logo_gdw.png) no-repeat center center transparent;
         -webkit-background-size: cover;
        background-size: cover;
        }

        article.article-section{
        width:70%;
        margin: 0 auto;
        }

        #action,
        #hebergement,
        #attractions-musees,
        #partenaire,
        #a-propos,
        #reseaux-sociaux{
        min-height:100%;
        margin:auto;
        margin-top:50px;
        }

        #action.coll_one,
        #hebergement.coll_one,
        #attractions-musees.coll_one,
        #partenaire.coll_one,
        #a-propos.coll_one,
        #reseaux-sociaux.coll_one{
        text-align: center;
        border:1px solid #AAA;
        }

        #action h1,
        #hebergement h1,
        #attractions-musees h1,
        #partenaire h1,
        #a-propos h1,
        #reseaux-sociaux h1{
        height: 50px;
        background:#b1aa9d;
        font-family: 'quicksandbold', sans-serif;
        font-size: 1.6em;
        color:#fbfcfd;
        text-align:center;
        letter-spacing:0.2em;
        line-height: 50px;
        margin:auto !important;
        }

        #action p,
        #hebergement p,
        #attractions-musees p,
        #partenaire p,
        #a-propos p,
        #reseaux-sociaux p{
        margin-bottom: 24px;
        text-align: left;
        }

}


@media screen and (min-width: 768px) and (max-width: 1023px){
        body{
        font-size: 16px;
        line-height: 24px;
        }

        #logo {
        float: left;
        position:absolute;
        top:10px;
        left:10px;
        width:160px;
        height:160px;
        border-radius:6px;
        background:url(logo_gdw.png) no-repeat center center transparent;
         -webkit-background-size: cover;
        background-size: cover;
        }


        #accueil h1{
        font-size: 1.8em;
        margin-left: -94.5px;
        margin-top: -90px;
        }

        #accueil h2{
        font-size: 1.4em;
        margin-left: -220px;
        margin-top: -50px;
        border-bottom: 1px solid #ecf0f1;
        padding: 24px 0;
        }

        #accueil h3{
        margin-left: -237.5px;
        margin-top: 270px;
        font-size: 1em;
        }

        article.article-section{
        width:70%;
        margin: 0 auto;
        }

        #action,
        #hebergement,
        #attractions-musees,
        #partenaire,
        #a-propos,
        #reseaux-sociaux{
        height: 800px;
        }

        #action.inner,
        #hebergement.inner,
        #attractions-musees.inner,
        #partenaire.inner,
        #a-propos.inner,
        #reseaux-sociaux.inner{
        position: relative;
        margin-top: 50px;
        }

        #action.coll_one,
        #hebergement.coll_one,
        #attractions-musees.coll_one,
        #partenaire.coll_one,
        #a-propos.coll_one,
        #reseaux-sociaux.coll_one{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        }

        #action p,
        #hebergement p,
        #attractions-musees p,
        #partenaire p,
        #a-propos p,
        #reseaux-sociaux p{
        margin-bottom: 24px;
        text-align: left;
        }

        h4{
        height: 50px;
        line-height: 50px;
        font-size: 1em;
        }
}


/**** IPAD MODE PORTRAIT (vertical) ****/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){
}


/**** IPAD MODE PAYSAGE (horizontal) ****/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}


/**** IPAD MODE PAYSAGE ****/
@media screen and (min-width: 480px) and (max-width: 767px){
        body{
        font-size: 14px;
        line-height: 21px;
        }

        #logo {
        float: left;
        position:absolute;
        top:3px;
        left:5px;
        width:50px;
        height:50px;
        border-radius:6px;
        background:url(logo_gdw.png) no-repeat center center transparent;
         -webkit-background-size: cover;
        background-size: cover;
        }

        .nav-collapse li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        }

        .nav-collapse li:first-child{
        border-top: 0;
        }

        #accueil h1{
        font-size: 1.8em;
        margin-left: -82px;
        margin-top: -65px;
        }

        #accueil h2{
        font-size: 1.4em;
        margin-left: -193.5px;
        margin-top: -50px;
        border-bottom: 1px solid #ecf0f1;
        padding: 24px 0;
        }

        #accueil h3{
        margin-left: -209px;
        margin-top: 180px;
        font-size: 1em;
        }

        article.article-section{
        width:80%;
        margin: 0 auto;
        text-align:justify;
        }

        #action,
        #hebergement,
        #attractions-musees,
        #partenaire,
        #a-propos,
        #reseaux-sociaux{
        height: 700px;
        }

        #action.inner,
        #hebergement.inner,
        #attractions-musees.inner,
        #partenaire.inner,
        #a-propos.inner,
        #reseaux-sociaux.inner{
        position: relative;
        margin-top: 50px;
        }

        #action.coll_one,
        #hebergement.coll_one,
        #attractions-musees.coll_one,
        #partenaire.coll_one,
        #a-propos.coll_one,
        #reseaux-sociaux.coll_one{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        }

        #action p,
        #hebergement p,
        #attractions-musees p,
        #partenaire p,
        #a-propos p,
        #reseaux-sociaux p{
        margin-bottom: 21px;
        text-align: left;
        }

        #action a{
        margin-bottom: 42px;
        display: block;
        }

        h4{
        height: 50px;
        line-height: 50px;
        font-size: 1em;
        }
}


/**** MOBILE ****/
@media screen and (max-width: 479px){
        body{
        font-size: 14px;
        line-height: 21px;
        }

        #logo {
        float: left;
        position:absolute;
        top:3px;
        left:5px;
        width:50px;
        height:50px;
        border-radius:6px;
        background:url(logo_gdw.png) no-repeat center center transparent;
         -webkit-background-size: cover;
        background-size: cover;
        }

        .nav-collapse li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        }

        .nav-collapse li:first-child{
        border-top: 0;
        }

        div.separateur{
        display:none;
        }

        article.article-section{
        width:90%;
        margin: 0 auto;
        text-align:justify;
        }

        #accueil h1{
        font-size: 1.4em;
        margin-left: -64.5px;
        margin-top: -48px;
        }

        #accueil h2{
        font-size: 1em;
        margin-left: -138px;
        margin-top: -40px;
        border-bottom: 1px solid #ecf0f1;
        padding: 24px 0;
        }

        #accueil h3{
        margin-left: -125px;
        margin-top: 170px;
        font-size: 1em;
        text-align: center;
        width: 250px;
        }

        #action .inner{
        position: relative;
        margin-top: 50px;
        }

        #action .coll_one{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        }

        #action h5{
        margin: 21px 0;
        text-align: center;
        }

        #action p{
        margin-bottom: 21px;
        text-align: left;
        }

        #action .coll_text{
        width: 100%;
        margin: 42px 0 42px 0;
        }

        #action .coll_img{
        display: none;
        }


        #action .right{
        margin-right: 0;
        }

        #action a{
        margin-bottom: 42px;
        display: block;
        }

        #contact{
        height: 700px;
        }

        #contact .inner{
        position: relative;
        margin-top: 50px;
        }

        #contact .coll_one{
        width: 80%;
        margin: 0 auto;
        }

        #contact h5{
        margin-bottom: 24px;
        }

        #contact ul.social{
        margin-top: 21px;
        }

        #contact .social li{
        display: inline-block;
        width: 49%;
        margin-right: 0;
        margin-top: 21px;
        }

        #contact .social a{
        position: relative;
        left: 50%;
        margin-left: -15px;
        }

        .feedback-input{
        line-height: 14px;
        }

        #button-blue{
        padding-top:17px;
        padding-bottom:17px;
        }

        .ease{
        height: 52px;
        margin-bottom: 21px;
        }

        h4{
        height: 50px;
        line-height: 50px;
        font-size: 1em;
        }
}
